In [59]:
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import linear_model
from word2number import w2n

In [60]:
df = pd.read_csv('hiring.csv')
df.head()

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000

In [62]:
df['experience'] = df['experience'].fillna('zero')
df['experience'] = df['experience'].apply(w2n.word_to_num)

In [63]:
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(round(df['test_score(out of 10)'].mean()))
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    8.0                           7      72000
7          11                    7.0                           8      80000

In [64]:
ml = linear_model.LinearRegression()
train_x = df[['experience','test_score(out of 10)','interview_score(out of 10)']]
train_y = df['salary($)']
ml.fit(train_x,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [65]:
ml.coef_

array([2812.95487627, 1845.70596798, 2205.24017467])

In [66]:
ml.intercept_

17737.26346433771

In [67]:
ml.predict([[12,10,10]])

array([92002.18340611])